<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{ flatpage.title }}</title>

        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
            <a class="navbar-brand" href="#">Django flatpages</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span> </a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/about/">О нас</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" href="/news/">Новости</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/contacts/">Контакты</a>
               </li>
           </ul>
       </div>
   </div>
</nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                {% block content %}
                {{ flatpage.content }}
                {% endblock content %}
                </div>
           </div>
        </div>
   </body>
</html>
