{% extends 'flatpages/default.html' %}

{% block title %}
Новость
{% endblock title %}

{% block content %}
<h1>Новость</h1>
<table>
           <tr>
               <td>Автор</td>
               <td>{{ post.author }}</td>
           </tr>
            <tr>
               <td>Заголовок</td>
               <td>{{ post.title }}</td>
           </tr>
           <tr>
               <td>Дата публикации</td>
               <td>{{ post.dateCreation }}</td>
           </tr>
           <tr>
               <td>Текст</td>
               <td>{{ post.text }}</td>
           </tr>
{% endblock content %}