{% extends 'flatpages/default.html' %}

{% block title %} Новость {% endblock title %}

{% block content %}
<h3>Одиночная новость</h3>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Добавить новость">
</form>
{% endblock content %}