{% extends 'flatpages/default.html' %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить новость?</h2>
   <hr>
       <table  border="2">
           <tr>
               <td>Автор</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>
           {% for post in news %}
           <tr>
               <td>{{ post.author.user.username }}</td>
               <td>{{ post.dateCreation }}</td>
               <td>{{ post.title }}</td>
           </tr>
           {% endfor %}
       </table>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}