{% extends 'flatpages/default.html' %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h1>{{ time_now|date:'M d Y' }}</h1>
   <hr>

   {% if news %}
       <table  border="2">
           <tr>
               <td>Автор</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>
           {% for post in news %}
           <tr>
               <td>{{ post.author.user.username }}</td>
               <td>{{ post.dateCreation }}</td>
               <td><a href="{% url 'new' post.id %}">{{ post.title }}</a> </br>
                   <a href="{% url 'new_add' post.id %}"><u>Редактировать</u></a>
                   <a href="{% url 'new_delete' post.id %}"><u> Удалить </u></a>
               </td>
           </tr>
           {% endfor %}
       </table>

<a href="{% url 'new_add' %}">Добавить новую статью</a> <br>

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
    {% endif %}

{% endif %}
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Добавить новость">
</form>
{% endblock content %}